{# heredamos de base.html #}
{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}
{% block content %}
    <h1>My Blog</h1>
    {% for post in posts %}
        <h2>
            {# cambiando las urls dinamicas por absolutas #}
            {# el objeto post tiene su url #}
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}

    {# incluimos la paginacion #}
    {# el objeto posts tiene el paginador #}
    {# incluimos el template pagination.html #}
    {# pasamos el objeto posts a la variable page #}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}